.tool {
    cursor: help;
    position: relative;
}

.tool::before,
.tool::after {
    left: 50%;
    opacity: 0;
    position: absolute;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    z-index: 100;
}

.tool::before{
    border-style: solid;
    border-width: 1em 0.75em 0 0.75em;
    border-color: #3e474f transparent transparent transparent;
    bottom: 100%;
    content: "";
    margin-left: -0.5em;
    top: -2em;
    transition: opacity: 3s ease, top 1s ease;
}

.tool:hover::before,
.tool:focus::before {
    top: -1em;
}

.tool::after {
    background: #3e474f;
    border-radius: 0.25em;
    bottom: 178%;
    color: #edeff0;
    content: attr(data-tool);
    margin-left: -8.75em;
    padding: 1em;
    width: 17.5em;
    transition: opacity: 0.6s ease;
}